@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto';
}

.front-page {
    /* Бекграунд з затемненням */
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7) ), url('../images/bg1.jpg') center/cover no-repeat;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 150px;
}

.front-page::before {
    content: '';
    position: absolute;
    border: none;
    width: 51%;
    height: 60px;
    background: linear-gradient(to top right, rgba(255, 255, 255) 50%, transparent 51%);
    bottom: -1px;
    left: -1px;
}

.front-page::after {
    content: '';
    position: absolute;
    width: 51%;
    height: 60px;
    background: linear-gradient(to top left, rgba(255, 255, 255) 50%, transparent 51%);
    bottom: -1px;
    right: -1px;
}

.wrapper {
    width: 1010px;
    margin: 0 auto;
}

.header {
    background-color: rgba(255, 255, 255, 1);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
}

.company-name {
    text-decoration: none;
    font-weight: 400;
    font-size: 36px;
    color: rgba(66, 79, 87, 1);
    margin-right: auto;
}

.company-name span {
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(20, 175, 202, 1);
}

.header-tabs {
    display: flex;
    align-items: center;
}

.header-tabs li {
    display: inline-block;
    margin-right: 45px;
}

.header-tabs li a {
    text-decoration: none;
    color: rgba(62, 76, 78, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s ease;
}

.header-tabs li a:hover {
    color: rgba(20, 175, 202, 1);
}

.front-page-title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    padding: 140px 0 140px;
}

/* ----- company-description ----- */

.main-title {
    color: #14AFCA;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-title-margin-30px {
    margin-bottom: 30px;
}

.company-info-subtitle {
    font-family: 'Open Sans';
    font-size: 18px;
    color: rgba(66, 79, 87, 1);
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.company-description {
    color: rgba(66, 79, 87, 1);
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 99px;
}

/* ----- partners section ----- */

.companies {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url('../images/bg2.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% 28%;
    position: relative;
    margin-bottom: 160px;
}

.companies::before {
    content: '';
    width: 50%;
    height: 60px;
    position: absolute;
    top: -1px;
    left: 1px;
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 1) 50%, transparent 51%);
}

.companies::after {
    content: '';
    width: 50%;
    height: 60px;
    position: absolute;
    top: -1px;
    right: 0;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1) 50%, transparent 51%);
}

.main-title-padding {
    padding: 150px 0 30px;
}

.company-info-subtitle-white {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

.companies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 100px;
    justify-items: center;
    align-items: center;
    padding-bottom: 90px;
}

.companies-grid-img {
    cursor: pointer;
}

.adobe-container {
    display: flex;
    width: 215px;
    height: 99px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

/* ----- Our Team Section ----- */

.company-info-subtitle-black {
    color: rgba(66, 79, 87, 1);
    margin-bottom: 40px;
}

.team-members-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 90px;
    justify-items: center;
}

.employee-description {
    width: 300px;
    color: rgba(66, 79, 87, 1);
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: .3s ease;
}

.employee-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    text-decoration: none;
}

.employee-img-container {
    position: relative;
}

.employee-img {
    width: 100%;
    height: 100%;
}

.employee-link:hover .employee-description {
    color: rgba(66, 79, 87, 0.6);
}

.employee-link:hover .employee-img-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* ----- Testimonials section ----- */

.testimonials {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    background-position: 0% 28%;
    background-attachment: fixed;
    position: relative;
}

/* Для створеного в секції testimonials діва
формуємо псевдоелементи */
.container-for-pseudoelements::before {
    content: '';
    position: absolute;
    border: none;
    width: 51%;
    height: 60px;
    background: linear-gradient(to top right, rgba(255, 255, 255) 50%, transparent 51%);
    bottom: -1px;
    left: -1px;
}

.container-for-pseudoelements::after {
    content: '';
    position: absolute;
    width: 51%;
    height: 60px;
    background: linear-gradient(to top left, rgba(255, 255, 255) 50%, transparent 51%);
    bottom: -1px;
    right: -1px;
}

.testimonials::before {
    content: '';
    width: 50%;
    height: 60px;
    position: absolute;
    top: -1px;
    left: 1px;
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 1) 50%, transparent 51%);
}

.testimonials::after {
    content: '';
    width: 50%;
    height: 60px;
    position: absolute;
    top: -1px;
    right: 0;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1) 50%, transparent 51%);
}

.customer-testimonial {
    width: 907px;
    color: rgba(211, 204, 204, 1);
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    /* Так як ми встановили фіксовану ширину, потрібно задати  */
    /* авто відступи справа і зліва від блоку */
    margin: 0 auto 28px;
}

.customer-name {
    display: block;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    text-align: end;
    padding: 0 170px 140px 0;
}

/* ----- Section WHY? ----- */

.сomponents-of-company {
    width: 816px;
    color: rgba(66, 79, 87, 1);
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 auto 96px;
}

/* ----- FOOTER ----- */
.footer-text {
    color: rgba(61, 60, 60, 1);
    width: 416px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto 90px;
}

.footer-text span {
    font-size: 16px;
    font-weight: 700;
}